<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= candle.name %></title>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <h1 class="title">Edit <%= candle.name %></h1>
    <form action="/candles/<%=candle._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= candle.name %>">
        <label for="hasPrize">Has Prize?</label>
        <input type="checkbox" name="hasPrize" 
        <% if (candle.hasPrize){ %>checked<%} %>>
        <label for="candleImg">Add an Image?</label>
        <input type="text" name="candleImg">
        <button type="submit">Update Candle</button>
    </form>
    <a href="/candles">Back to Candles</a>
</body>
</html>