<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candles Index</title>
    <link rel="stylesheet" href="/css/app.css">

  </head>
  <body>
    <h1 class="title">All Candles</h1>
    <a href="/candles">Browse Candles</a>
    <ul>
      <% candles.forEach(candle => { %>
      <li><a href="/candles/<%=candle._id%>"><%= candle.name %></a></li>
      <%});%>
    </ul>
    <a href="/candles/new">Add a new Candle!</a>
  </body>
</html>
