<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Candle</title>
</head>
<body>
    <h1>Create a Candle</h1>
    <form action="/candles" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" >
        <label for="hasPrize">Prize inside?</label>
        <input type="checkbox" name="hasPrize">
        <button type="sumbit">Add Candle!</button>
    </form>
    <a href="/candles/">Back to Candles</a>

</body>
</html>