<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Candle</title>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <h1 class="title">Create a Candle</h1>
    <form action="/candles" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" >
        <label for="hasPrize">Prize inside?</label>
        <input type="checkbox" name="hasPrize">
        <label for="candleImg">Add an Image?</label>
        <input type="text" name="candleImg">
        <button type="submit">Add Candle!</button>
    </form>
    <a href="/candles/">Back to Candles</a>

</body>
</html>