<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candles App</title>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <h1 class="title">Welcome to the Candles App!</h1>
    <p>An app for logging all your favorite Candles.</p>
</body>
<a href="/candles">To all Candles</a>
</html>