 body {
  background-image: url("./images/smokebackground.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  /* margin:auto; */
}

  .title {
  color: orange;
  font-size: 100px;
  text-shadow: 1px 1px 8px black;
}

p{
    color: white;
    text-shadow: 3px 1px 2px black;
}

button:hover{
    font-size: 25px;
    border: solid   red;
}

input{
    font-size: 25px;
}

input[type="checkbox"]{
    font-size: 25px;
    transform: scale(2);  /* asked chat */
    margin: 20px;
}

label{
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;}

img{
    width: 15rem;
    height: 15rem;
    /* transform: scale(1); */
    /* object-fit:contain; */
    /* margin: -200px; */
    /* align-self: flex-end; */
}

a {
    margin:25px;
    color: magenta;
    text-shadow: 1px 1px 2px black;

}